<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="data:;base64,=">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <script src="{{url_for('static',filename='scripts/main.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static',filename='scripts/helpers.js')}}" charset="utf-8"></script>

  </head>
  <body>
    <div class="chat-container">
      <div class="list-title">
        <h4 style="padding-left:30px;">Rooms</h4>
      </div>
      <div class="list">
        <ul id="rooms-list" style="list-style-type:none;">
          {% for room in rooms %}
          <li><div class="list-item" data-room="{{room['room_name']}}">
              <h5>{{room['room_name']|title}}</h5>
          </div></li>
          {% endfor %}


        </ul>
      </div>

        <form id="chat-room" action="index.html" method="post">
          <input id ="new-room-name" type="text" name="" value="" placeholder="Create Room" autocomplete="off">
          <input class="room-submit-btn" type="submit" name="" value="">
        </form>

      <div class="chat-title">
        <div class="">

        </div>
        <span><h4 id="conversation-title" style="">General</h4></span>
        <a href="{{url_for('logout')}}"><img src="{{url_for('static',filename='imgs/logout-icon.png')}}" style="width:100%;" alt=""></a>
      </div>
      <div class="chat-messages">
        <ul id='messages-list' style="list-style-type:none;">

        </ul>
      </div>

        <form id="msg-form" method="post">
          <input id="msg"  type="text" name="" value="" placeholder="Send a message" autocomplete="off">
          <input class="chat-submit-btn" type="submit" name="" value="">


      </div>

  </body>
</html>
